

body {
    height: 100%;
    font-family: Roboto, sans-serif;

}

.navigation-bar {
    text-decoration: none;
    display: flex;
}

.Top {
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar {
    display:flex;
    justify-content: space-evenly;
}

.header-left {
    display:flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
}


a {
    text-decoration: none;
    color:white;
}

a:hover {
    color:aqua;
}


ul {
    display: flex;
    list-style-type: none;
    gap:15px
}

li {
    padding: 0px;
    margin: 0px;
    text-decoration: none;

}

.header-midsection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding: 80px;
}

.title {
    font-size: 48px;
    width: 300px;
    font-weight: 900;
}

.header-text > p {
    width: 450px;
    filter: contrast(50%)
}

.header-image > img {
  width: 450px;
  height: auto;
  filter: brightness(180%) contrast(120%);
}

button {
    padding: 5px 20px;
    border-radius: 7px;
    font-weight: 700;
}

.products-section {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.products-title {
    font-weight: 900;
    font-size:32px;
    margin: 20px;
}

.brands {
    display:flex;
    justify-content: space-between;
    height: 250px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.cannondale, .trek, .specialized, .kona {
    display:flex;
    flex-direction: column;
    align-items: center;
}


.logo {
    width: 168px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



.logo1 {
    background-image: url(./images/cannondalelogo.png);
}

.logo2 {
    background-image: url(./images/treklogo2.jpg);
}

.logo3 {
    background-image: url(./images/specialized.png);
}

.logo4 {
    
    background-image: url(./images/KonaLogo.png);
}

.brand-reference {
    max-width: 168px;
    text-align: center;
}